<div></div>
<div class="pre-h2-title"></div>
<div><h2 class="h2-title" ion-text style="max-width: 62%">{{titreForm}}</h2></div>
<form [formGroup]="msgForm" (ngSubmit)="onSubmit()" novalidate>
  <ion-list>
    <ion-item>
      <ion-label stacked>Votre message</ion-label>
      <ion-textarea placeholder="saississez votre demande" formControlName="message"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="!msgForm.controls['message'].valid && submitAttempt" no-margin no-lines><error-msg text="ce champs est obligatoire"></error-msg></ion-item>

  </ion-list>
  <ion-buttons>
    <button type="submit" ion-button class="button-fourth" icon-end>Envoyer
      <ion-icon name="send"></ion-icon></button>
    <button type="reset" ion-button class="button-third" icon-end (click)="closeMessage()" *ngIf="demand">Annuler
      <ion-icon name="close"></ion-icon></button>
  </ion-buttons>
</form>

