page-register, page-settings {

  $colors: (
    background: #2d3281,
    primary:    #fff,
    secondary:  #f1911f,
    third:      #37afda,
    fourth:     #365760,
    danger:     #f12a19,
    light:      #f4f4f4,
    dark:       #222
  );
  $bkgcolor: 'background';
  $toolbar-title-color: 'background';

  @import '../designcommon';

}
