
  <div class="pre-h2-title"></div>
  <h2 ion-text class="h2-title" *ngIf="!own">Réponse de M. {{consultation.contact.name}}</h2>
  <h2 ion-text class="h2-title" *ngIf="own">Votre réponse</h2>

  <div class="inline"> <h3 ion-text class="color-primary">Diagnostic: </h3><p>{{consultation.response}} </p></div>
  <div class="inline"><h3 *ngIf="consultation.treatment" ion-text class="color-primary">Traitement à initier: </h3><p>{{consultation.treatment}}</p></div>
  <div class="inline"><h3 ion-text class="color-primary">Délai de consultation conseillé: </h3><p>{{statusText}}</p></div>



