<ion-header>
  <my-navbar [titleText]="'Votre avis est requis'"></my-navbar>

</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <div class="title-image"><img src="assets/img/icons/page-consulted.png" alt="Votre avis est requis" /></div>
        <h1 ion-text color="primary" class="small-h1">Votre avis est requis</h1>
      </ion-col>
      <ion-col col-9>
        <h2 class="h2-title">Consultations</h2>
        <br />
        <h3 class="h3-title">En attente</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
      <button ion-item *ngFor="let demand of demands" (click)="itemTapped($event, demand)">
        <div class="inline"><h3 ion-text class="color-third">envoyé par </h3><p>{{demand.author.forname}} {{demand.author.name}}</p></div>
        <div *ngIf="demand.xchangeStatus == 0 && !demand.dateModified">
          <p ion-text> le {{afficheDate(demand.dateCreation)}}</p>
          <div class="inline"><h3 ion-text color="secondary" >demande initiale </h3>
            <p ion-text>
              {{demand.description}}
            </p>
          </div>
        </div>
        <div *ngIf="demand.xchangeStatus == 2 || demand.dateModified">
          <p ion-text> le {{afficheDate(demand.dateModified)}}</p>
          <div class="inline">
            <h3 ion-text color="secondary" >
              <span *ngIf="demand.dateModified && demand.xchangeStatus == 0; else infoResponse">réponse à votre demande d'info</span>
              <ng-template #infoResponse>demande d'info complémentaire</ng-template>
            </h3>
            <p ion-text>...</p>
          </div>
        </div>
      </button>
    </ion-list>
</ion-content>
