page-consulted-list, page-consulted {
  $colors: (
    background: #a2d5ec,
    primary: #37afda,
    secondary: #f1911f,
    third: #37afda,
    fourth: #2d3281,
    danger: #f12a19,
    light: #f4f4f4,
    dark: #222
  );
  $bkgcolor: 'background';
  $toolbar-title-color: 'third';

  p, input::placeholder, textarea::placeholder, .select-placeholder, .item-md p, .item-ios p {
    color: #fff;
  }

  .item-input .label-md, .item-select .label-md, .item-datetime .label-md, .item-input .label-ios, .item-select .label-ios, .item-datetime .label-ios, .label-ios, .label-md {
    color: map-get($colors, primary);
  }
  @import '../designcommon';

  //surcharge qq détails de designcommon

  .h3-title-container {
    margin-top: 8px;
  }

  .h3-title {
    background-color: map-get($colors, primary);
    color: white;
  }

  .h3-title::before {
    border: solid 1px map-get($colors, fourth);
  }

  .h3-title::after {
    background-color: map-get($colors, white);
  }
}
