<ion-header>
    <my-navbar [titleText]="'Préférences'"></my-navbar>
</ion-header>

<ion-content padding>
  <form *ngIf="!formSuccess" [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="validate-form">

    <error-msg *ngIf="submitAttempt" text="Veuillez vérifier les données saisies."></error-msg>
      <ion-item-group class="do-lines">
        <ion-item no-lines>
          <ion-label stacked>Vous êtes</ion-label>
          <ion-select [selectOptions]="selectOptions" interface="popover" formControlName="userType" placeholder="type de profil">
            <ion-option ion-text *ngFor="let type of userTypes; let i = index" value="{{i}}" (ionSelect)="onSelectType(i)">{{type}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls['userType'].valid && submitAttempt" no-margin no-lines><error-msg text="ce champs est obligatoire"></error-msg></ion-item>
      </ion-item-group>
      <ion-item-group  class="do-lines" *ngIf="selectedType == 0">
        <ion-item>
          <ion-label stacked>Date de naissance</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" formControlName="birthdate"></ion-datetime>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls['birthdate'].valid && submitAttempt" no-margin no-lines><error-msg text="ce champs est obligatoire"></error-msg></ion-item>
      </ion-item-group>
      <ion-item *ngIf="selectedType == 1">
        <ion-label stacked>Profession</ion-label>
        <ion-select [selectOptions]="selectOptions" interface="popover" formControlName="profession">
          <ion-option *ngFor="let profession of professions" value="{{profession.id}}" (ionSelect)="onSelectProfession(profession)">{{profession.name}}</ion-option>
        </ion-select>
      </ion-item>
    <ion-item *ngIf="!registerForm.controls['profession'].valid && submitAttempt" no-margin no-lines><error-msg text="ce champs est obligatoire"></error-msg></ion-item>

    <ion-list *ngIf="selectedType == 2" radio-group formControlName="generalist" class="inline" no-lines>
        <ion-item>
          <ion-label>Généraliste</ion-label>
          <ion-radio value="0" (ionSelect)="doGeneralist()"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Spécialiste</ion-label>
          <ion-radio value="1" (ionSelect)="doSpecialist()"></ion-radio>
        </ion-item>
      </ion-list>
    <ion-item *ngIf="!registerForm.controls['generalist'].valid && submitAttempt" no-margin no-lines><error-msg text="ce champs est obligatoire"></error-msg></ion-item>

    <ion-item *ngIf="isSpecialist == true">
        <ion-label stacked>Spécialité</ion-label>
        <ion-select [selectOptions]="selectOptions" interface="popover" formControlName="specialty">
          <ion-option *ngFor="let specialty of specialties" value="{{specialty.id}}" (ionSelect)="onSelectSpecialty(specialty)">{{specialty.name}}</ion-option>
        </ion-select>
      </ion-item>
    <ion-item *ngIf="!registerForm.controls['specialty'].valid && submitAttempt" no-margin no-lines><error-msg text="ce champs est obligatoire"></error-msg></ion-item>
    <ion-item>
      <ion-label stacked>Visible par</ion-label>
      <ion-select [selectOptions]="selectOptions" interface="popover" formControlName="visible">
        <ion-option *ngFor="let status of visibleStatus; let i = index" value="{{i}}">{{status}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item style="display: none">
        <ion-label stacked>J'accepte les demandes directes de patients</ion-label>
        <ion-checkbox formControlName="acceptPatient"></ion-checkbox>
      </ion-item>

      <ion-item-group>
        <ion-item>
          Sexe
        </ion-item>
        <ion-list radio-group formControlName="sex" class="inline" no-lines>
          <ion-item>
            <ion-label>Masculin</ion-label>
            <ion-radio value="0"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Féminin</ion-label>
            <ion-radio value="1"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item *ngIf="!registerForm.controls['sex'].valid && submitAttempt" no-margin no-lines><error-msg text="ce champs est obligatoire"></error-msg></ion-item>

      </ion-item-group>
      <ion-item-group class="do-lines">
        <ion-item>
          <ion-label stacked>Civilité</ion-label>
          <ion-select [selectOptions]="selectOptions" interface="popover" formControlName="civility">
            <ion-option *ngFor="let civility of civilities; let i = index" value="{{i}}">{{civility}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls['civility'].valid && submitAttempt" no-margin no-lines><error-msg text="ce champs est obligatoire"></error-msg></ion-item>
      </ion-item-group>

      <ion-item-group class="do-lines">
        <ion-item ion-text>
            <ion-label stacked>Votre nom</ion-label>
            <ion-input type="text" name="name" formControlName="name"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls['name'].valid && submitAttempt" no-margin no-lines><error-msg text="ce champs est obligatoire"></error-msg></ion-item>
      </ion-item-group>

      <ion-item-group class="do-lines">
        <ion-item ion-text>
          <ion-label stacked>Votre prénom</ion-label>
          <ion-input type="text" name="forname" formControlName="forname"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls['forname'].valid && submitAttempt" no-margin no-lines><error-msg text="ce champs est obligatoire"></error-msg></ion-item>
      </ion-item-group>
      <ion-item-group class="do-lines">

        <ion-item ion-text>
          <ion-label stacked>{{identificationTitle}}</ion-label>
          <ion-input type="text" name="identification" formControlName="identification"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls['identification'].valid && submitAttempt" no-margin no-lines><error-msg text="ce champs est obligatoire"></error-msg></ion-item>
      </ion-item-group>

      <ion-item-group class="do-lines">
        <ion-item ion-text>
          <ion-label stacked>Votre email</ion-label>
          <ion-input type="email" name="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls['email'].valid && submitAttempt" no-margin no-lines><error-msg text="ce champs est obligatoire"></error-msg></ion-item>
      </ion-item-group>

      <ion-item-group class="do-lines">
        <ion-item ion-text>
          <ion-label stacked>Votre mot de passe</ion-label>
          <ion-input type="password" name="password" formControlName="pwd"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls['pwd'].valid && submitAttempt" no-margin no-lines><error-msg text="ce champs est obligatoire"></error-msg></ion-item>
      </ion-item-group>
    <ion-item-group class="do-lines">

      <ion-item ion-text>
        <ion-label stacked>Votre téléphone</ion-label>
        <ion-input type="tel" name="tel" formControlName="tel"></ion-input>
      </ion-item>
      <ion-item *ngIf="!registerForm.controls['tel'].valid && submitAttempt" no-margin no-lines><error-msg text="ce champs est obligatoire"></error-msg></ion-item>

    </ion-item-group>
    <ion-item-group class="do-lines">

      <ion-item ion-text>
        <ion-label stacked>Identifiant Skype (si utilisé)</ion-label>
        <ion-input type="text" name="skype" formControlName="skype"></ion-input>
      </ion-item>
      <ion-item *ngIf="!registerForm.controls['skype'].valid && submitAttempt" no-margin no-lines><error-msg text="ce champs n'est pas valide"></error-msg></ion-item>

    </ion-item-group>
    <ion-item-group class="do-lines">

    <ion-item ion-text>
        <ion-label stacked>Identifiant Facetime (si utilisé)</ion-label>
        <ion-input type="text" name="facetime" formControlName="facetime"></ion-input>
      </ion-item>
      <ion-item *ngIf="!registerForm.controls['facetime'].valid && submitAttempt" no-margin no-lines><error-msg text="ce champs n'est pas valide"></error-msg></ion-item>

    </ion-item-group>
      <!--    <ion-item ion-text>
            <ion-label>Confirmez votre email</ion-label>
            <ion-input type="email" name="email_confirm" required></ion-input>
          </ion-item>-->

<!--    <ion-item ion-text>
      <ion-label>Confirmez votre mot de passe</ion-label>
      <ion-input type="password" name="password_confirm" required></ion-input>
    </ion-item>-->
    <ion-buttons>
      <button type="submit" ion-button color="secondary" icon-end>Envoyer
        <ion-icon name="send"></ion-icon></button>
      <button type="reset" ion-button color="light" icon-end>Effacer
        <ion-icon name="close"></ion-icon></button>
    </ion-buttons>

  </form>
<!--   <p>Form value: {{ registerForm.value | json }}</p>
    <p>Form status: {{ registerForm.status | json }}</p>-->

    <div *ngIf="formSuccess">
      Merci {{user.forname}} {{user.name}}, votre profil a bien été mis à jour.<br />
    <button ion-button (click)="goHome()">OK</button>
  </div>

</ion-content>
