// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-item-group.inline, ion-list.inline {
  display:flex;
  border-bottom: 1px solid #c8c7cc;
}

div.inline h3, div.inline p {
  display: inline;
  font-size: 1.4rem;
  text-align: justify;
  margin: 0 0 2px;
}

h3.separator {
  border-bottom: 1px solid map-get($colors, primary);
  margin-top: 1.6rem;
  padding-bottom: 1rem;
}

.text-input {
 // border: 1px;
 // border-style: solid;
 // border-color: #cccccc;
}

p {color: #666}

ion-label {color: #999}

input::placeholder, textarea::placeholder, .select-placeholder {
  font-style: italic;
  font-size:1.4rem;
}

.label-md[stacked], .label-ios[stacked] {
  font-size: 1.6rem;
  margin-top: 5px;
}

.item-block {min-height: 1.6rem;}
.item-radio ion-label {font-style: italic;}

h1 {
  font-size: 2.2rem;
}

h1.small-h1 {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0.5rem;
}

div.title-image {
  border-radius: 50%;
  padding: 1rem;
  margin: auto;
  background-color: white;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.6rem;
}

.toolbar-background {background-color: white;}
.toolbar-title {
  color: map-get($colors, background);
}

.toolbar-ios ion-title, .toolbar-md ion-title {padding: 0 5px 1px;}
.bar-button-menutoggle-ios, .bar-button-menutoggle-md {
  min-width: 32px;
  margin: 0;
}

.profile-button{
  border-radius: 50%;
  background-color: map-get($colors, secondary);
  color: white;
  min-width: 32px;
  height:32px;
}

.log-out-button {
  font-size: 32px;
}

.ios {
  ion-header, ion-content {
    top: 18px;
  }
}

ion-item-group .item-inner {
 // border: none;
}

ion-item-group.do-lines {
 border-bottom: 0.55px solid #c8c7cc;
}

.color-primary {
  color: map-get($colors, primary);
}

.color-fourth {
  color: map-get($colors, fourth);
}

.background-primary .item, .background-primary .picker-wrapper, .background-primary .picker-toolbar {
  background-color: #2d3281;
}

.background-third .item, .background-third .picker-wrapper, .background-third .picker-toolbar {
  background-color: #a2d5ec;
}

.button-md, .button-ios {
  border-radius: 8px;
}

.item-ios.item-block .item-inner, .item-md.item-block .item-inner {
   //border-bottom: none;
}

.list-ios > .item-block:first-child , .list-md > .item-block:first-child {
  border-top: none;
}

.list-ios > .item-block:last-child, .list-md > .item-block:last-child {
  border-bottom: none;
}

.list-ios {margin-bottom: 8px;}

ion-item-group.inline {
 // border-bottom: none;
  margin-bottom: 0;
}


.button-third {
  color: white;
  background-color: map-get($colors, third);

}

.first-p {
  margin-top: 3px;
}
