
  <div *ngIf="!closed; else thanks">
    <form [formGroup]="consultForm" (ngSubmit)="onSubmit()" novalidate>
      <h2 ion-text color="secondary">Choix du médecin</h2>
      <ion-item>
        <ion-label stacked>Spécialité</ion-label>
        <ion-select interface="popover" formControlName="specialty" placeholder="Sélectionner la spécialité">
          <ion-option *ngFor="let specialty of specialties" value="{{specialty.id}}" (ionSelect)="onSelectSpecialty(specialty)" >{{specialty.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="contacts">
        <ion-label stacked>Médecin</ion-label>
        <ion-select interface="popover" formControlName="contact" placeholder="Sélectionner le médecin">
          <ion-option *ngFor="let contact of contacts" value="{{contact.id}}" (ionSelect)="onSelectContact(contact)" [disabled]="!contact.online">{{contact.forname}} {{contact.name}} <ion-icon *ngIf="contact.online" name="wifi" icon-end></ion-icon></ion-option>
        </ion-select>
      </ion-item>
      <h2 ion-text color="secondary">Description du cas</h2>
      <ion-item>
        <ion-label stacked>Patient anonyme</ion-label>
        <ion-checkbox checked="true" formControlName="anonymous_patient" (ionChange)="doAnonymous()"></ion-checkbox>
      </ion-item>
      <div *ngIf="isAnonymousPatient">
        <ion-item ion-text>
          <ion-label stacked>Sexe</ion-label>
        </ion-item>
      <ion-list radio-group formControlName="sex" class="inline" no-lines>
        <ion-item>
          <ion-label>Masculin</ion-label>
          <ion-radio value="0"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Féminin</ion-label>
           <ion-radio value="1"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-label>Age</ion-label>
        <ion-input type="number" min="0" max="125" formControlName="age" placeholder="age du patient"></ion-input>
      </ion-item>
    </div>
        <div *ngIf="!isAnonymousPatient">
          <div></div>
          <h3 ion-text color="primary" class="separator">Données du patient</h3>
          <ion-item ion-text>
            <ion-label>Nom</ion-label>
            <ion-input type="text" name="patient_name" required formControlName="patient_name"></ion-input>
          </ion-item>
          <ion-item ion-text>
            <ion-label>Prénom</ion-label>
            <ion-input type="text" name="patient_forname" required formControlName="patient_forname"></ion-input>
          </ion-item>
          <ion-item ion-text>
            <ion-label>Numéro de sécurité sociale</ion-label>
            <ion-input type="text" required formControlName="patient_identification"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Date de naissance</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" formControlName="patient_birthdate"></ion-datetime>
          </ion-item>
          <ion-item>
            Sexe
          </ion-item>
          <ion-list radio-group formControlName="sex" class="inline" no-lines>
            <ion-item>
              <ion-label>Masculin</ion-label>
              <ion-radio value="0"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Féminin</ion-label>
              <ion-radio value="1"></ion-radio>
            </ion-item>
          </ion-list>
        </div>
      <h3 ion-text color="primary" class="separator">Description clinique</h3>
      <ion-item>

        <ion-label stacked>Antécedents utiles</ion-label>
        <ion-textarea placeholder="antécédents s'il y lieu" formControlName="antecedent"></ion-textarea>
      </ion-item>

      <ion-item>
          <ion-label stacked>Description des symptomes </ion-label>
          <ion-textarea placeholder="décrivez le cas clinique" formControlName="description"></ion-textarea>
        </ion-item>
        <ion-item-group class="inline">
          <ion-item no-lines>
            <ion-label stacked>Début des symptomes</ion-label>
            <ion-input type="number" min="0" max="60" formControlName="debut_symptome"></ion-input>
          </ion-item>
          <ion-item ion-text >
            <ion-label stacked></ion-label>
            <ion-select formControlName="debut_symptome_unit" interface="popover">
              <ion-option *ngFor="let unit of timeUnits; let i = index" value="{{i}}">{{unit}}</ion-option>
            </ion-select>
          </ion-item>


        </ion-item-group>
      <ion-item>
        <ion-label stacked>Traitements en cours</ion-label>
        <ion-textarea placeholder="traitements en cours s'il y lieu" formControlName="traitementEnCours"></ion-textarea>
      </ion-item>        <ion-item>
          <ion-buttons><button type="button" ion-button color="primary"  (click)="presentActionSheet()">Ajouter une photo</button></ion-buttons>
        </ion-item>
        <ion-item *ngIf="images.length > 0">
           <ion-label>Photos</ion-label></ion-item>
           <ion-list>
             <ion-item-group *ngFor="let image of images; let i = index">
               <ion-item>
                 <ion-thumbnail item-start>
                   <img src="{{pathForImage(image)}}">
                 </ion-thumbnail>
                 <ion-input type="text" formControlName="image{{i}}" placeholder="description de l'image"></ion-input>
               </ion-item>
               <ion-item>
                 <ion-buttons>
                   <button ion-button (click)="deleteImage(i)" type="button"><ion-icon item-end name="close"></ion-icon>Supprimer</button>
                   <button ion-button (click)="showImage(i)" type="button"><ion-icon item-end name="show"></ion-icon>Voir</button>
                 </ion-buttons>

               </ion-item>
               </ion-item-group>
           </ion-list>

      <ion-buttons>
        <button type="submit" ion-button color="secondary" icon-end>Envoyer
          <ion-icon name="send"></ion-icon></button>
        <button type="reset" ion-button color="light" icon-end>Effacer
          <ion-icon name="close"></ion-icon></button>
      </ion-buttons>
    </form>
        <p>Form value: {{ consultForm.value | json }}</p>
        <p>Form status: {{ consultForm.status | json }}</p>

  </div>
  <ng-template #thanks>
        <p ion-text>Votre demande de consultation a bien été envoyée</p>

        <h2 ion-text color="primary">Résumé de votre demande</h2>

        <demand-resume [consultation]="consultation" [question]="false"></demand-resume>
    <button ion-button (click)="goHome()">OK</button>
  </ng-template>
