<ion-item>
    <ion-label ion-text (click)="doShowButtons(!showButtons)">Contacter {{contact.forname}} {{contact.name}}
      <ion-icon *ngIf="showButtons" name="close"></ion-icon>
    </ion-label>
</ion-item>
<ion-buttons *ngIf="showButtons">
  <button ion-button (click)="launchTelCall()" type="button" icon-end>Appel tél <ion-icon name="call" ></ion-icon></button>
  <a [href]="sanitizeSkype()" *ngIf="contact.skype"><button  ion-button type="button" icon-end>Appel skype <ion-icon name="logo-skype"></ion-icon></button></a>
</ion-buttons>


