

<h2 ion-text color="secondary">{{titreMedecin}}</h2>
<p>{{nomTitreMedecin}}</p>
<div class="inline"><h3 ion-text color="primary">Spécialité: </h3><p>{{authorSpecialty}}</p></div>
<div class="inline"><h3 ion-text color="primary">Envoyé le: </h3><p>{{dateAffiche}}</p></div>


<h2 ion-text color="secondary">Description du cas</h2>
<patient-resume *ngIf="consultation.patient" [patient]="consultation.patient"></patient-resume>
<div *ngIf="!consultation.patient">
  <div class="inline"> <h3 ion-text color="primary">Sexe: </h3> <p>{{sexTexte}}</p></div>
  <div class="inline"><h3 ion-text color="primary">Age: </h3> <p>{{consultation.age}}</p></div>
</div>
<div class="inline"><h3 ion-text color="primary">Antécedents: </h3> <p>{{consultation.antecedent}}</p></div>
<div class="inline"><h3 ion-text color="primary">Début des symptomes: </h3> <p>{{consultation.debut_symptome}} {{symptomeUnit}}</p></div>
<div class="inline"><h3 ion-text color="primary">Description clinique: </h3> <p>{{consultation.description}}</p></div>
<div class="inline"><h3 ion-text color="primary">Traitements déjà initiés: </h3> <p>{{consultation.traitementEnCours}}</p></div>
  <div *ngIf="images.length > 0">
    <ion-label>Photos</ion-label>
  </div>
  <ion-list>
    <ion-item-group *ngFor="let image of images; let i = index">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="{{pathForImage(image.uri)}}">
        </ion-thumbnail>
        <p>{{image.description}}</p>
        <button ion-button (click)="showImage(i)">Agrandir</button>
      </ion-item>
    </ion-item-group>
  </ion-list>

