<h1 ion-text color="primary" *ngIf="question">Demande de consultation</h1>
<h1 ion-text color="primary" *ngIf="!question">Votre demande de consultation</h1>

<ion-list>
    <ion-item>
      <h2 ion-text color="secondary">{{titreMedecin}}</h2>
      <p>{{nomTitreMedecin}}</p>
      <h3 ion-text color="primary">Spécialité</h3><p>{{authorSpecialty}}</p>
      <ion-buttons *ngIf="question">
        <button ion-button (click)="launchTelCall()"><ion-icon item-start name="call" ></ion-icon>Appel tél</button>
        <a [href]="sanitizeSkype()" *ngIf="consultation.author.skype"><button  ion-button><ion-icon item-start name="logo-skype"></ion-icon>Appel skype</button></a>
      </ion-buttons>

    </ion-item>
  <ion-item>
    <h2 ion-text color="secondary">Description du cas</h2>
    <patient-resume *ngIf="consultation.patient" [patient]="consultation.patient"></patient-resume>
    <div *ngIf="!consultation.patient"><h3 ion-text color="primary">age: </h3> <p>{{consultation.age}}</p>
    <h3 ion-text color="primary">sexe: </h3> <p>{{sexTexte}}</p></div>
    <h3 ion-text color="primary">description clinique: </h3> <p>{{consultation.description}}</p>
    <h3 ion-text color="primary">antécedents: </h3> <p>{{consultation.antecedent}}</p>
    <h3 ion-text color="primary">traitements en cours: </h3> <p>{{consultation.traitementEnCours}}</p>
    <h3 ion-text color="primary">début des symptomes: </h3> <p>{{consultation.debut_symptome}} {{symptomeUnit}}</p>
  </ion-item>
</ion-list>
<ion-list *ngIf="response">
  <ion-item>
    <h2 ion-text color="secondary">Réponse de M. {{consultation.contact.name}}</h2>
    <p>{{consultation.response}} </p>
    <h3 *ngIf="consultation.treatment" ion-text color="primary">Traitement à initier</h3><p>{{consultation.treatment}}</p>
    <h3 ion-text color="primary">Délai de consultation conseillé</h3><p>{{statusText}}</p>
  </ion-item>

