<div class="pre-h2-title"></div>
<h2 class="h2-title" ion-text>Votre avis</h2>
     <form [formGroup]="responseForm" (ngSubmit)="onSubmit()" novalidate>
       <error-msg *ngIf="submitAttempt" text="Veuillez vérifier les données saisies."></error-msg>

       <ion-list>
        <ion-item>
          <ion-label stacked>Diagnostic</ion-label>
          <ion-textarea placeholder="votre diagnostic" formControlName="response"></ion-textarea>
        </ion-item>
         <ion-item *ngIf="!responseForm.controls['response'].valid && submitAttempt" no-margin no-lines><error-msg text="ce champs est obligatoire"></error-msg></ion-item>

         <ion-item>
          <ion-label stacked>Traitement à initier</ion-label>
          <ion-textarea placeholder="traitement à initier s'il y a lieu" formControlName="treatment"></ion-textarea>
        </ion-item>
         <ion-item no-border>
            <label stacked>
              Délai de consultation conseillé
            </label>
         </ion-item>
        <ion-item-group>
           <ion-list class="inline" radio-group formControlName="status">
            <ion-item ion-text *ngFor="let status of responseStatus; let i = index" no-lines>
              <ion-label>{{status}}</ion-label>
              <ion-radio value="{{i}}"></ion-radio>
            </ion-item>
           </ion-list>

          <ion-item-group *ngIf="responseForm.value.status > 0" class="inline">
            <ion-item style="flex: 1">
              <ion-input type="number" min="0" max="60" formControlName="rdv_number"></ion-input>
            </ion-item>
            <ion-item ion-text *ngIf="responseForm.value.status > 0" style="flex: 2">
              <ion-select [selectOptions]="selectOptions" formControlName="rdv_unit" interface="popover">
                <ion-option *ngFor="let unit of timeUnits; let i = index" value="{{i}}">{{unit}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-item-group>
          <ion-item *ngIf="!responseForm.controls['status'].valid && submitAttempt" no-margin no-lines><error-msg text="ce champs est obligatoire"></error-msg></ion-item>

        </ion-item-group>


       <contact-buttons [contact]="consultation.author"></contact-buttons>
       </ion-list>
       <ion-buttons>
        <button type="submit" ion-button class="button-primary" icon-end>Envoyer
          <ion-icon name="send"></ion-icon></button>
        <button type="reset" ion-button color="light" icon-end>Effacer
          <ion-icon name="close"></ion-icon></button>
      </ion-buttons>
    </form>
<!--     <p>Form value: {{ responseForm.value | json }}</p>
   <p>Form status: {{ responseForm.status | json }}</p>
<iv *ngIf="consultation">
   Votre demande de consultation a bien été envoyé
   AJOUTER RESUME DEMANDE
   <button ion-button (click)="goHome()">OK</button>
 </div>-->
