<ion-header>
  <ion-navbar>
    <logout-button></logout-button>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Je donne un avis</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div *ngIf="!selectedResponse; else responseView">
  <h1 ion-text color="primary">Réponses à vos demandes de consultations</h1>
    <ion-list>
      <button ion-item *ngFor="let response of responses" (click)="itemTapped($event, response)">
        <div class="inline"><h3 ion-text color="primary">envoyé par </h3><p>{{response.contact.forname}} {{response.contact.name}}</p></div>
        <p ion-text> le {{afficheDate(response.date_response)}}</p>
        <p ion-text>
          {{response.response}}
        </p>
      </button>
    </ion-list>
</div>
<ng-template #responseView>
  <h1 ion-text color="primary">Réponse à votre demande de consultation</h1>
  <div *ngIf="selectedResponse.xchangeStatus== 1; else thanks">
    <demand-resume [consultation]="selectedResponse" [response]="true" [question]="false"></demand-resume>
    <button ion-button (click)="closeConsultation()">Fermer la consultation</button>
  </div>
  <ng-template #thanks>
    <h1 ion-text color="primary">Merci</h1>
    <p>La consultation a été fermée</p>
    <button ion-button (click)="goHome()">OK</button>
  </ng-template>
  </ng-template>
</ion-content>
