<ion-header>
  <my-navbar [titleText]="'Liste des réponses'"></my-navbar>

</ion-header>

<ion-content padding>
  <h1 ion-text color="primary">Réponses à vos demandes de consultations</h1>
    <ion-list>
      <button ion-item *ngFor="let response of responses" (click)="itemTapped($event, response)">
        <div class="inline"><h3 ion-text color="primary">envoyé par </h3><p>{{response.contact.forname}} {{response.contact.name}}</p></div>
        <div *ngIf="response.xchangeStatus==3">
          <p ion-text> le {{afficheDate(response.date_response)}}</p>
          <div class="inline"><h3 ion-text color="secondary" >diagnostic </h3>
            <p ion-text>
              {{response.response}}
            </p>
          </div>
        </div>
        <div *ngIf="response.xchangeStatus==1">
          <p ion-text> le {{afficheDate(response.date_modified)}}</p>
          <div class="inline"><h3 ion-text color="secondary" >demande d'info complémentaire </h3>
            <p ion-text>...</p>
          </div>
        </div>
      </button>
    </ion-list>
</ion-content>
